@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.imageContainer {
    width: 98%;
    height: 200px;
    padding-left: 10px;
}

@media screen and (min-width:768px) {
    .imageContainer {
        min-width: max-content;
        height: 100vh;
        padding-left: 0px;
    }

}